<!-- templates/dashboard.html -->
{% extends "base.html" %}

{% block content %}
<h2>Dashboard</h2>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
    <!-- Publications Section -->
    <div>
        <h3>Publications</h3>

        <!-- Parse DOIs and Download Excel -->
        <h4>Parse DOIs and Download Excel</h4>
        <form method="post" action="{{ url_for('download_publications_excel') }}" enctype="multipart/form-data" onsubmit="showLoading()">
            <textarea name="dois" rows="10" cols="50" placeholder="Enter DOIs, one per line"></textarea><br><br>
            <input type="submit" value="Process DOIs and Download">
        </form>

        <div id="loading" style="display:none;">Loading...</div>

        <script>
            function showLoading() {
                document.getElementById("loading").style.display = "block";
            }
        </script>

        <!-- Upload Excel File to Create Publications -->
        <h4>Upload Excel File to Create Publications</h4>
        <form method="post" action="{{ url_for('create_publications') }}" enctype="multipart/form-data">
            <input type="file" name="pub_file" accept=".xlsx" required><br><br>
            <input type="submit" value="Upload and Create Publications">
        </form>

        <h4>Tracked Authors</h4>
        <p>Receive regular updates of new publications by these authors:</p>
        <form method="post" action="{{ url_for('save_tracked_authors') }}">
            <textarea name="tracked_authors" rows="10" cols="50" placeholder="Enter authors, one per line">{{ tracked_authors }}</textarea><br><br>
            <button type="submit">Save</button>
        </form>
    </div>

    <!-- Talks and Posters Section -->
    <div>
        <h3>Talks and Posters</h3>

        <!-- Download Talks Template -->
        <h4>Download Current Talks Template</h4>
        <a href="{{ url_for('download_talks_template_public') }}" target="_blank">Download Talks Template</a>


        <!-- Upload Talks File -->
        <h4>Upload Talks Excel File</h4>
        <form method="post" action="{{ url_for('create_talks') }}" enctype="multipart/form-data">
            <input type="file" name="talks_file" accept=".xlsx" required><br><br>
            <input type="submit" value="Upload and Create Talks">
        </form>
    </div>
</div>
{% endblock %}
